html {
  height: 100%;
}
body {
  font-family: "M PLUS 1p";
  background-color: #eff0f3;
  margin: 0;
  height: 100%;
}
h1 {
  margin: 0;
  padding: 10px;
  color: #0d0d0d;
  font-weight: 400;
}
h2 {
  font-weight: 400;
}
main {
  margin-top: 20px;
}
a {
  color: #0d0d0d;
  text-decoration: none;
}

/* welcome */
#welcome {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}
#welcome h1 {
  color: #d9376e;
  font-size: 6vw;
  margin: 0;
}
#welcome h2 {
  color: #ff8e3c;
  font-size: 4vw;
  margin: 0;
  margin-top: 100px;
}
#welcome p {
  color: #2a2a2a;
  font-size: 3vw;
  margin: 3px 0;
}
#startbtn {
  width: 350px;
  margin: 100px auto;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: #0d0d0d;
  border: solid 1px #ff8e3c;
  background: #ff8e3c;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  #welcome h1 {
    font-size: 8vw;
  }
  #welcome h2 {
    font-size: 6vw;
  }
  #welcome p {
    font-size: 5vw;
  }
}

/* welcome */

.timer::before {
  line-height: 30px;
  font-size: 24px;
  font-family: "Material Icons Outlined";
  content: "\e425";
}

/* game */
#h,
#w,
#b {
  width: 50px;
}
#board {
  margin: 0 auto;
  border-collapse: collapse;
  /* background: yellowgreen; */
}
td {
  /* border: solid 3px white; */
  width: 50px;
  height: 50px;
  font-weight: bold;
  text-align: center;
  background-image: url(images/puchi50alive.png);
  background-repeat: no-repeat;
  opacity: 1;
  cursor: pointer;
}
.open {
  /* background: #e6e6e6; */
  background-image: url(images/puchi50dead.png);
  /* animation: fadein 0.7s; */
}
.flag::before {
  font-family: "Material Icons";
  content: "\e153";
  animation: fadein 0.3s;
}
.bomb {
  background-image: url(images/puchi50dead.png);
  animation: fadein 1s infinite;
}
.bomb::before {
  content: url(images/bomb-icon.svg);
}
.clear {
  background-image: url(images/puchi50alive.png);
  animation: fadein 5s infinite;
}
.clear::before {
  content: "🎉";
}
.bombCount::before {
  font-size: 24px;
  content: url(images/bomb-icon.svg);
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#result {
  text-align: center;
}

/* header */

header {
  background-color: #eff0f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  margin-left: 10px;
}

#gameInfo {
  margin-right: 30px;
}

/* header */

/* footer */

footer {
  position: sticky;
  top: 100vh;
  width: 100%;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  background-color: #eff0f3;
}

.socialicon {
  margin-left: 10px;
  width: 20px;
  cursor: pointer;
}

/* footer */

/* modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #eff0f3;
  margin: 20% auto;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

@keyframes modalopen {
  from {opacity: 0}
  to {opacity: 1}
}

.modal-header h1 {
  margin: 1rem 0;
}

.modal-header {
  background: #eff0f3;
  padding: 3px 15px;
  display: flex;
  justify-content: space-between;
}

.modalClose {
  font-size: 2rem;
}

.modalClose:hover {
  cursor: pointer;
}

.modal-body {
  padding: 10px 20px;
  color: #0d0d0d;
  background: #fffffe;
  display: flex;
  justify-content: space-between;
}

#restartbtn {
  width: 250px;
  margin: 50px auto;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: #0d0d0d;
  border: solid 1px #ff8e3c;
  background: #ff8e3c;
  border-radius: 5px;
  cursor: pointer;
}

#sharebtn {
  width: 250px;
  margin: 50px auto;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
  border: solid 1px #d9376e;
  background: #d9376e;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .modal-content {
    width: 80%
  }
  .modal-body {
    flex-direction: column;
  }
}

/* modal */
